.contenedor {
  height: 100vh;
  position: relative;
  background-color: #000000c7;
}

.fondoImagen {
  background-image: url('../../assets/images/hospital-portada.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 60%;
}

.contenedorTitulo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 150px;
  justify-content: center;
  height: 100%;
  position: relative;
}

.titulo {
  color: #140da1;
  font-size: 50px;
  text-shadow: 2px 7px 5px rgb(253 253 253 / 57%),
    0px -4px 10px rgb(238 236 236 / 78%);
  margin-bottom: 20px;
  text-align: center;
}

.subTitulo {
  font-size: 20px;
  margin-bottom: 15px;
  color: white;
  text-align: center;
}

.buttonContainer {
  color: black;
  border: none;
  display: flex;
  justify-content: center;
  background-color: #08d;
  border-radius: 12px;
  padding: 5px;
}
.buttonContainer:hover {
    background-color: white;
    color: #6568F4;
    transition: 250ms;
}


.verMasLink, .verMasLink:visited {
  color: #ffffff;
  text-decoration: none;
}

.verMasLink:hover {
  color: #140da1;
}

@media only screen and (max-width: 600px) {
  .titulo {
    text-align: center;
  }
  .contenedorTitulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    padding: 0%;
  }
  
  .subTitulo {
    
    text-align: center;
  }
}